// United 5.1.3
// Bootswatch


// Variables
@import "./variable/variables";
$web-font-path: "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Indicators

.badge {
  &.bg-light {
    color: $body-color;
  }
}


.hamburger{
  
  .line {

    width: 50px;
    height: 3px;
    background-color: black ;
  }
}
.list-group{
  list-style:  none ;
}

.hero{
  height: 80vh;
}